body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

button {
    border: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.page-title {
    font-weight: 300;
    font-size: 36px;
    color: #373737;
    margin-top: 29px;
}

@media screen and (max-width: 540px) {
    .page-title {
        font-size: 18px;
        text-align: center;
    }
}
